@model IEnumerable<TheWheelDeal.Models.customer>

@{
    ViewBag.Title = "Customer's list";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Wheel Deal", "Welcome", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "font-family: 'Poppins' !important ; font-size: 30px" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="font-family:'Poppins'!important; font-size:18px">@Html.ActionLink("Car", "Index", "Car")</li>
                    <li style="font-family:'Poppins'!important; font-size:18px">@Html.ActionLink("Customer", "Index", "Customer")</li>
                    <li style="font-family:'Poppins'!important; font-size:18px">@Html.ActionLink("Rent", "Index", "Rent")</li>
                    <li style="font-family:'Poppins'!important; font-size:18px">@Html.ActionLink("Return car", "Index", "returncar")</li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>

<h2>Customers' List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered " >
    <tr>
        <th style="background-color:black ; color:white">
            @Html.DisplayNameFor(model => model.CustName)
        </th>
        <th style="background-color:black ; color:white">
            @Html.DisplayNameFor(model => model.CustAddress)
        </th>
        <th style="background-color:black ; color:white">
            @Html.DisplayNameFor(model => model.CustMobileNumber)
        </th>
        <th style="background-color:black ; color:white">Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustMobileNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustId })
        </td>
    </tr>
}

</table>
