
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<TheWheelDeal.Models.RentalViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Wheel Deal", "Welcome", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Car", "Index", "Car")</li>
                    <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                    <li>@Html.ActionLink("Rent", "Index", "Rent")</li>
                    <li>@Html.ActionLink("Return car", "Index", "returncar")</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>

<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("Save", "rent", FormMethod.Post, new { id = "popupForm" }))
        {

            <div>
                <h1>Car Rental</h1>
            </div>

            <div class="form-group">
                <label class="form-label">Car no</label>
                <select class="form-control" id="carid" name="carid" placeholder="CarNo" required>
                    <option>Please Select</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label">Customer ID</label>
                <input type="text" id="custid" name="custid" class="form-control" placeholder="Customer ID" required />
            </div>
            <div class="form-group">
                <label class="form-label">Customer Name</label>
                <input type="text" id="custname" name="custname" class="form-control" placeholder="Customer Name" required />
            </div>
            <div class="form-group">
                <label class="form-label">Rental Fee</label>
                <input type="text" id="fee" name="fee" class="form-control" placeholder="Rental Fee" required />
            </div>
            <div class="form-group">
                <label class="form-label">Start Date</label>
                <input type="date" id="sdate" name="sdate" class="form-control" placeholder="Start Date" required />
            </div>
            <div class="form-group">
                <label class="form-label">End Date</label>
                <input type="date" id="edate" name="edate" class="form-control" placeholder="End Date" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>

        }
    </div>
    <div class="col-sm-8">
        <table class="table">
            <tr>
                <th>Car Number</th>
                <th>Customer ID</th>
                <th>Fee</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Available</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.carid</td>
                    <td>@item.custid</td>
                    <td>@item.fee</td>
                    <td>@item.sdate</td>
                    <td>@item.edate</td>
                    <td>@item.available</td>
                </tr>
            }
        </table>

    </div>

</div>

@section scripts {
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        getCar();
        load();
        function load() {
            $("#custid").attr("disabled", "disabled");
            $("#custname").attr("disabled", "disabled");
            $("#fee").attr("disabled", "disabled");
            $("#sdate").attr("disabled", "disabled");
            $("#edate").attr("disabled", "disabled");
        }
        function getCar() {
            $.ajax({
                type: 'GET',
                url: '/rent/Getcar',
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#carid").append($("<option/>", {
                            text: data[i].carno
                        }));
                    }
                }

            });
        }
        $("#carid").change(function () {

            available();



        });
        function available() {
            $.ajax({
                type: 'POST',
                url: '/rent/Getavil?carno=' + $("#carid").val(),
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);
                    var avil = data;
                    if (avil == "yes") {
                        $("#custid").removeAttr('disabled');
                        $("#custname").removeAttr('disabled');
                        $("#fee").removeAttr('disabled');
                        $("#sdate").removeAttr('disabled');
                        $("#edate").removeAttr('disabled');

                    }
                    else {
                        $("#custid").attr("disabled", "disabled");
                        $("#custname").attr("disabled", "disabled");
                        $("#fee").attr("disabled", "disabled");
                        $("#sdate").attr("disabled", "disabled");
                        $("#edate").attr("disabled", "disabled");
                    }
                }
            });

        }
        getCustomer();
        function getCustomer() {
            $("#custid").keyup(function (e) {
                $.ajax({
                    type: 'POST',
                    url: '/rent/Getid?id=' + $("#custid").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        console.log(data);
                        $("#custname").val(data)
                    }
                });
            });
        }

    </script>

}
