
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<TheWheelDeal.Models.RentalViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Wheel Deal", "Welcome", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "font-family: 'Poppins' !important ; font-size: 30px" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="font-family:'Poppins'!important; font-size:18px">@Html.ActionLink("Car", "Index", "Car")</li>
                    <li style="font-family:'Poppins'!important; font-size:18px">@Html.ActionLink("Customer", "Index", "Customer")</li>
                    <li style="font-family:'Poppins'!important; font-size:18px">@Html.ActionLink("Rent", "Index", "Rent")</li>
                    <li style="font-family:'Poppins'!important; font-size:18px">@Html.ActionLink("Return car", "Index", "returncar")</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>

<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("Save", "rent", FormMethod.Post, new { id = "popupForm" }))
        {

            <div>
                <h1>Car Rental</h1>
            </div>

            <div class="form-group">
                <label class="form-label">Car Number</label><br />
                <select id="CarId" class="chosen-select" name="CarId" placeholder="CarNumber" required>
                    <option>Please Select</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Customer Name</label>
                <input type="text" id="CustName" name="CustName" class="form-control" placeholder="Customer Name" required />
            </div>
            <div class="form-group">
                <label class="form-label">Customer ID</label>
                <input type="text" id="CustId" name="CustId" class="form-control" placeholder="Customer ID" required />
            </div>

            <div class="form-group">
                <label class="form-label">Rental Fee</label>
                <input type="text" id="Fee" name="Fee" class="form-control" placeholder="Rental Fee" required />
            </div>
            <div class="form-group">
                <label class="form-label">Start Date</label>
                <input type="date" id="StartDate" name="StartDate" class="form-control" placeholder="Start Date" required />
            </div>
            <div class="form-group">
                <label class="form-label">End Date</label>
                <input type="date" id="EndDate" name="EndDate" class="form-control" placeholder="End Date" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" style="background-color: black ;border-color:black" />
            </div>

        }
    </div>
    <div class="col-sm-8">
        <table class="table table-bordered" style="margin-top:90px">
            <tr>
                <th style="background-color:black ; color:white">Car Number</th>
                <th style="background-color:black ; color:white">Customer ID</th>
                <th style="background-color:black ; color:white">Fee</th>
                <th style="background-color:black ; color:white">Start Date</th>
                <th style="background-color:black ; color:white">End Date</th>
                <th style="background-color:black ; color:white">Available</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CarId</td>
                    <td>@item.CustId</td>
                    <td>@item.Fee</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.Available</td>
                </tr>
            }
        </table>

    </div>

</div>

@section scripts {

    @*<script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>*@
    <script type="text/javascript">
        $(".chosen-select").chosen({ width: "75%" });
    </script>
    <script>
        getCar();
        load();
        function load() {
            $("#CustId").attr("disabled", "disabled");
            $("#CustName").attr("disabled", "disabled");
            $("#Fee").attr("disabled", "disabled");
            $("#StartDate").attr("disabled", "disabled");
            $("#ElapsedDate").attr("disabled", "disabled");
        }
        function getCar() {
            $.ajax({
                type: 'GET',
                url: '/rent/Getcar',
                dataType: 'JSON',
                success: function (data) {                    
                    $("#CarId").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#CarId").append($("<option/>", {
                            text: data[i].CarNumber
                        }));
                    }
                    $("#CarId").trigger("chosen:updated");
                }
            })
        }
        $("#CarId").change(function () {

            available();



        });
        function available() {
            $.ajax({
                type: 'POST',
                url: '/Rent/Getavil?carno=' + $("#CarId").val(),
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);
                    var avil = data;
                    if (avil == "yes") {
                        $("#CustId").removeAttr('disabled');
                        $("#CustName").removeAttr('disabled');
                        $("#Fee").removeAttr('disabled');
                        $("#StartDate").removeAttr('disabled');
                        $("#EndDate").removeAttr('disabled');

                    }
                    else {
                        $("#CustId").attr("disabled", "disabled");
                        $("#CustName").attr("disabled", "disabled");
                        $("#Fee").attr("disabled", "disabled");
                        $("#StartDate").attr("disabled", "disabled");
                        $("#EndDate").attr("disabled", "disabled");
                    }
                }
            });

        }
        getCustomer();
        function getCustomer() {
            $("#CustName").keyup(function (e) {
                $.ajax({
                    type: 'POST',
                    url: '/Rent/Getid?name=' + $("#CustName").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        console.log(data);
                        $("#CustId").val(data)
                    }
                });
            });
        }

    </script>

}
